@inherits CenteredComponentController

    <div class="container pt-lg-md @Class">
        <div class="row justify-content-center">
            <div class="col-lg-@Size">
                @ChildContent
            </div>
        </div>
    </div>