@inherits DashboardLayoutController

<div class="app-content">
    <NavigationComponent />
    <NavigationDetailComponent />
    <div class="fightzone-content">@ChildContent</div>
    <FooterComponent />
</div>